body {
    margin: 0
}

.full {
	margin: 0;
    padding: 10px;
    color: #ecf9ec;
}

.half


.green {
	background-color: rgba(0, 128, 0, 0.5);
}

.red {
	background-color: rgba(128, 0, 0, 0.5);
}

.blue {
	background-color: rgba(0, 0, 128, 0.5);
}