<!DOCTYPE html>
<html lang="en" dir="ltr">
<body>


<header>
  <div class="container">
    <h1 class="logo">Mac-Controller</h1>
    <strong><nav>
      <ul class="menu">
        <li><h2><a href="{{ url_for('volume_no_par') }}">Volume</a></h2></li>
        <li><h2><a href="{{ url_for('music_toggle') }}">Music</a></h2></li>
        <li><h2><a href="{{ url_for('youtube') }}">Chrome-Youtube</a></h2></li>
      </ul>
    </nav></strong>
  </div>
</header>

<div class="container">
      {% block content %}
      {% endblock %}
</div>


</body>

</html>