<!DOCTYPE html>
<html lang="en" dir="ltr">

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

li a:hover {
  background-color: #111;
}
</style>
</head>


<body>


<ul>
  <li><a href="{{ url_for('pihome_no_par') }}">Pi Home</a></li>
  <li><a href="{{ url_for('volume_no_par') }}">Volume</a></li>
  <li><a href="{{ url_for('music_toggle') }}">Music</a></li>
  <li><a href="{{ url_for('youtube') }}">Chrome-Youtube</a></li>
  <li><a href="{{ url_for('brightness') }}">Brightness</a></li>
</ul>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

{% block content %}
{% endblock %}


</body>

</html>
