{% extends "layout.html" %}
{% block content %}

  <a href="{{ url_for('pihome', gpio_pin=3, gpio_status=False) }} "><div class="full green"><h1>Lights On</h1></div></a>
  <a href="{{ url_for('pihome', gpio_pin=3, gpio_status=True) }} "><div class="full lightgreen"><h1>Lights Off</h1></div></a>
  <a href="{{ url_for('pihome', gpio_pin=2, gpio_status=False) }} "><div class="full blue"><h1>Fan On</h1></div></a>
  <a href="{{ url_for('pihome', gpio_pin=2, gpio_status=True) }} "><div class="full lightblue"><h1>Fan Off</h1></div></a>
  <li>Fan   : {{ fan_status }}</li>
  <li>Light : {{ light_status }}</li>

{% endblock %}